@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Irish+Grover&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Irish+Grover&family=Lexend:wght@700&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins;
}

header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/header-location.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

header nav {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 21px 40px;
  margin-bottom: 16px;
}

.nav-item {
  list-style: none;
  display: inline-flex;
  padding: 8px;
}
.nav-link {
  margin-right: 30px;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}
.header-container {
  width: 50%;
  margin: auto 6% 0 5%;
}
h1 {
  font-size: 52px;
  margin-bottom: 20px;
}
.header-container p {
  font-size: 20px;
  font-style: normal;

  line-height: 1.7;
  margin-bottom: 35px;
  text-transform: capitalize;
}

#feature {
  height: 54vh;
  background-image: url("../images/feature.png");
  background-size: cover;
  padding: 4.5rem 10rem;
}
.container-feature {
  background-color: rgba(245, 242, 255, 0.7);
  border-radius: 10px;
}

#feature h2 {
  color: #000;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.logos {
  display: flex;
  justify-content: space-evenly;
}
.logos img {
  width: 26%;
  aspect-ratio: 2/1;
  object-fit: contain;
  mix-blend-mode: multiply;
}

#location {
  background-color: #f2f0ef;
  padding: 3% 5%;
}

#location h2 {
  color: #903711;
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5;
  text-transform: capitalize;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}
.card {
  width: 240px;
  background-color: #ffffff;

  overflow: hidden;
  border-radius: 9px;

  box-shadow: 0px 2px 20px 4px rgba(0, 0, 0, 0.25);
}
.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.card-content {
  padding: 12px;
}
.card-content p {
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;

  text-transform: capitalize;
}
.card-bottom {
  padding: 12px;
  margin-top: 4rem;
}
.card-bottom small {
  color: #000;
  font-family: Outfit;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;

  text-transform: capitalize;
}






.footer {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(29,23,20, 0.9)),
    url("../images/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;


}

.container{
  display: flex;
   justify-content: space-evenly;
   padding-top: 10rem;
} 
.footer-nav{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-link{
  text-decoration: none;
  color: #fff;

}
.logo-footer{
  display: block;
  margin-top: 2.2rem;

}

.copyright{
    text-align: center;
margin-top: 21%;
color: #FFF;
font-family: Poppins;
font-size: 20px;

font-weight: 400;

text-transform: capitalize;
}