@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Irish+Grover&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Irish+Grover&family=Lexend:wght@700&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins;
}

header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/header-location.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

nav {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 21px 40px;
  margin-bottom: 16px;
}

.nav-item {
  list-style: none;
  display: inline-flex;
  padding: 8px;
}
.nav-link {
  margin-right: 30px;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}
.header-container {
  width: 50%;
  margin: auto 6% 0 5%;
}
h1 {
  font-size: 52px;
  margin-bottom: 20px;
}
.header-container p {
  font-size: 20px;
  font-style: normal;

  line-height: 1.7;
  margin-bottom: 35px;
  text-transform: capitalize;
}
